<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.supe.supertest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />


    <application
        android:name=".SuperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/ST_Theme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".abactivity.ActionBarActivity"
            android:theme="@style/ST_Theme" />

        <activity
            android:name=".viewpageractivity.ViewPagerActivity"
            android:theme="@style/ST_Theme" />

        <activity
            android:name=".indicator.MagicIndicatorActivity"
            android:theme="@style/ST_Theme" />

        <activity android:name=".book.ReadBookActivity"
            android:theme="@style/ST_Theme" />

        <activity android:name=".rxjava.RxJavaActivity"
            android:theme="@style/ST_Theme" />


        <activity android:name=".test.HobbyActivity"
            android:theme="@style/ST_Theme" />


        <activity android:name=".test.JobActivity"
            android:theme="@style/ST_Theme" />

        <activity android:name=".test.TallActivity"
            android:theme="@style/ST_Theme" />

        <activity android:name=".test.UserMessageActivity"
            android:theme="@style/ST_Theme" />




    </application>


</manifest>